<div class="container">
  <div fxLayout="column" fxLayoutGap="15px">
      <mat-toolbar matDialogTitle class="dialog-toolbar" color="primary">
          <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
              <div class="dialog-toolbar-title">
                  Appointment information
              </div>
              <mat-icon style="cursor: pointer" mat-dialog-close></mat-icon>
          </div>
      </mat-toolbar>

      <div class="modal-content" fxLayout="column" fxLayoutGap="10px">
          <div class="dialog-content" fxLayout="column" fxLayoutGap="15px">

              <div class="last-name item" fxLayout="row" fxLayoutAlign="space-between center">
                  <div fxFlex="45" class="heading">
                      First Name
                  </div>
                  <div fxFlex="10" class="clone">
                      :
                  </div>
                  <div fxFlex="45" class="info">
                      {{appointmentInfo.firstName}}
                  </div>
              </div>

              <div class="last-name item" fxLayout="row" fxLayoutAlign="space-between center">
                  <div fxFlex="45" class="heading">
                      Last Name
                  </div>
                  <div fxFlex="10" class="clone">
                      :
                  </div>
                  <div fxFlex="45" class="info">
                      {{appointmentInfo.lastName}}
                  </div>
              </div>
              <div class="last-name item" fxLayout="row" fxLayoutAlign="space-between center">
                  <div fxFlex="45" class="heading">
                      Email
                  </div>
                  <div fxFlex="10" class="clone">
                      :
                  </div>
                  <div fxFlex="45" class="info">
                      {{appointmentInfo.email}}
                  </div>
              </div>
              <div class="last-name item" fxLayout="row" fxLayoutAlign="space-between center">
                  <div fxFlex="45" class="heading">
                      Age
                  </div>
                  <div fxFlex="10" class="clone">
                      :
                  </div>
                  <div fxFlex="45" class="info">
                      {{appointmentInfo.age}}
                  </div>
              </div>
              <div class="last-name item" fxLayout="row" fxLayoutAlign="space-between center">
                  <div fxFlex="45" class="heading">
                      Gender
                  </div>
                  <div fxFlex="10" class="clone">
                      :
                  </div>
                  <div fxFlex="45" class="info">
                      {{appointmentInfo.gender}}
                  </div>
              </div>
              <div class="last-name item" fxLayout="row" fxLayoutAlign="space-between center">
                  <div fxFlex="45" class="heading">
                      Date
                  </div>
                  <div fxFlex="10" class="clone">
                      :
                  </div>
                  <div fxFlex="45" class="info">
                      {{appointmentInfo.date | date:'longDate'}}
                  </div>
              </div>
              <div class="last-name item" fxLayout="row" fxLayoutAlign="space-between center">
                  <div fxFlex="45" class="heading">
                      Time
                  </div>
                  <div fxFlex="10" class="clone">
                      :
                  </div>
                  <div fxFlex="45" class="info">
                      {{appointmentInfo.time}}
                  </div>
              </div>


          </div>
          <mat-divider></mat-divider>
          <div fxFlex fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end center">
              <div>
                  <button class="button" mat-button mat-dialog-close>
                      close
                  </button>
              </div>
          </div>
      </div>
  </div>
</div>
